<!-- Validation failure messages -->
<% if @prescription.errors.any? %>
  <% @prescription.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Prescription #<%= @prescription.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_prescription/<%= @prescription.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :email, @prescription.patient_id), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :created_at, @prescription.event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for insurer_id -->
      <div class="form-group">
        <label for="insurer_id" class="control-label">
          Insurer
        </label>

        <%= select_tag(:insurer_id, options_from_collection_for_select(Insurer.all, :id, :email, @prescription.insurer_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Prescription
      </button>
      or
      <a href="/prescriptions/<%= @prescription.id %>">Cancel</a>
    </form>
  </div>
</div>
