<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Event has many prescriptions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Prescriptions
      </li>

      <% @event.prescriptions.each do |prescription| %>
        <li class="list-group-item">
          <a href="/prescriptions/<%= prescription.id %>">
            <%= prescription.doctor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/prescriptions/<%= prescription.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/prescriptions/<%= prescription.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_prescription/<%= prescription.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_prescription" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for doctor_id -->
      <input type="hidden" name="doctor_id" value="<%= current_user.id %>">

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for insurer_id -->
      <div class="form-group">
        <label for="insurer_id" class="control-label">
          Insurer
        </label>

        <%= select_tag(:insurer_id, options_from_collection_for_select(Insurer.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Prescription
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
