<div class="page-header">
  <h1>
    Rxes
    <a href="/rxes/new" class="btn btn-lg btn-success">New Rx</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "rxes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :prescription_id, "Prescription" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :prescription_id_gteq, :class => "form-control", :placeholder => "Prescription greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :prescription_id_lteq, :class => "form-control", :placeholder => "Prescription less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :time_spread_unit_cont, "Time spread unit contains" %>
    <%= f.text_field :time_spread_unit_cont, :class => "form-control", :placeholder => "Time spread unit contains" %>
  </div>

<div class="form-group">
  <%= f.label :time_spread, "Time spread" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :time_spread_gteq, :class => "form-control", :placeholder => "Time spread greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :time_spread_lteq, :class => "form-control", :placeholder => "Time spread less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :details_cont, "Details contains" %>
    <%= f.text_field :details_cont, :class => "form-control", :placeholder => "Details contains" %>
  </div>

<div class="form-group">
    <%= f.label :units_cont, "Units contains" %>
    <%= f.text_field :units_cont, :class => "form-control", :placeholder => "Units contains" %>
  </div>

<div class="form-group">
  <%= f.label :quantity, "Quantity" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :quantity_gteq, :class => "form-control", :placeholder => "Quantity greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :quantity_lteq, :class => "form-control", :placeholder => "Quantity less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :dose_cont, "Dose contains" %>
    <%= f.text_field :dose_cont, :class => "form-control", :placeholder => "Dose contains" %>
  </div>

<div class="form-group">
    <%= f.label :drug_cont, "Drug contains" %>
    <%= f.text_field :drug_cont, :class => "form-control", :placeholder => "Drug contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/rxes" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#rxes_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Prescription</th>
        <th>Drug</th>
        <th>Dose</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Details</th>
        <th>Time spread</th>
        <th>Time spread unit</th>
        <th>Actions</th>
      </tr>

      <% @rxes.each do |rx| %>
      <tr>
        <td><%= rx.prescription_id %></td>
        <td><%= rx.drug %></td>
        <td><%= rx.dose %></td>
        <td><%= rx.quantity %></td>
        <td><%= rx.units %></td>
        <td><%= rx.details %></td>
        <td><%= rx.time_spread %></td>
        <td><%= rx.time_spread_unit %></td>
        <td>
          <a href="/rxes/<%= rx.id %>" class="btn btn-primary">Show</a>
          <a href="/rxes/<%= rx.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_rx/<%= rx.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @rxes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
