<div class="page-header">
  <h3>Insurer #<%= @insurer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @insurer.email %></dd>

      <dt>Password</dt>
      <dd><%= @insurer.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/insurers" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Insurer has many prescriptions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Prescriptions
      </li>

      <% @insurer.prescriptions.each do |prescription| %>
        <li class="list-group-item">
          <a href="/prescriptions/<%= prescription.id %>">
            <%= prescription.doctor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/prescriptions/<%= prescription.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/prescriptions/<%= prescription.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_prescription/<%= prescription.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Insurer has many broker_relations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Broker Relations
      </li>

      <% @insurer.broker_relations.each do |broker_relation| %>
        <li class="list-group-item">
          <a href="/broker_relations/<%= broker_relation.id %>">
            <%= broker_relation.patient_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/broker_relations/<%= broker_relation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/broker_relations/<%= broker_relation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_broker_relation/<%= broker_relation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Insurer has many broker_profiles -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Broker Profiles
      </li>

      <% @insurer.broker_profiles.each do |broker_profile| %>
        <li class="list-group-item">
          <a href="/broker_profiles/<%= broker_profile.id %>">
            <%= broker_profile.phone_work %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/broker_profiles/<%= broker_profile.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/broker_profiles/<%= broker_profile.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_broker_profile/<%= broker_profile.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Insurer has many broker_insurers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Broker Insurers
      </li>

      <% @insurer.broker_insurers.each do |broker_insurer| %>
        <li class="list-group-item">
          <a href="/broker_insurers/<%= broker_insurer.id %>">
            <%= broker_insurer.insurer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/broker_insurers/<%= broker_insurer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/broker_insurers/<%= broker_insurer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_broker_insurer/<%= broker_insurer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
